@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* our team  */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.primary-bg-color {
  background-color: black;
}
.bg-color {
  background-color: black;
}
.secondary-bg-color {
  background-color: #1a1a1a;
}
.font-primary {
  font-size: 3rem;
}
.font-secondary {
  font-size: 2rem;
}
.font-tertiary {
  font-size: 0.875rem;
}
.font-quaternary {
  font-size: 18px;
}
.font-primary-color {
  color: white;
}
.font-secondary-color {
  color: rgba(255, 255, 255, 0.5);
}
.font-tertiary-color {
  color: rgb(230, 83, 60);
}

/* header  */
.header {
  padding-top: 50px;
  background-image: linear-gradient(
    180deg,
    rgb(35, 35, 35),
    rgb(10, 10, 10),
    rgba(119, 119, 119, 0) 100%
  );
}
.nav-bar {
  width: 60%;
  /* height: 300px; */
  border: 2px solid red;
  margin: 0px auto 50px auto;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.banner {
  width: 60%;
  border: 2px solid red;
  margin: 50px auto;
  display: flex;
  gap: 120px;
  align-items: center;
  /* justify-content: space-between; */
}
.banner-content {
  border: 2px solid white;
  width: 42%;
}
.banner-title {
  font-size: 60px;
  font-weight: 900;
}
span.miama{

}
.nav-title {
  border: 2px solid red;
  font-size: 36px;
}
.banner-image {
  border: 2px solid red;
  width: 40%;
  height: 580px;
  position: relative;
}
.banner-paragraph{
  margin-bottom: 28px;
}
.banner-btn-1{
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.banner-btn-1 a{
  text-decoration: none;
}
.join{
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  background-color:rgb(230, 83, 60);
  color: white;
  border: none;
}
.download{
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  background-color:black;
  color: white;
  border: 1px solid white;
}
.banner-btn-2 {
  border: 2px solid red;
  position: absolute;
  height: 90px;
  width: 170px;
  top: 350px;
  bottom: 0px;
  left: -90px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
}
.circle {
  width: 40px;
  height: 40px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
}
.button-2,
.button-3 {
  background-color: transparent;
  border: none;
}
span.btn-2,
span.btn-3 {
  font-size: 40px;
  font-weight: 900;
}
.banner-btn-3 {
  /* border: 2px solid red; */
  position: absolute;
  height: 90px;
  width: 170px;
  top: 0px;
  bottom: 300px;
  right: -80px;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  text-align: center;
}

img.banner-img {
  width: 100%;
  height: 100%;
}
.navigation {
  /* border: 2px solid gray; */
  display: flex;
  align-items: center;
  gap: 30px;
  border-radius: 16px;
}
.navigation .navigation-list {
  list-style-type: none;
  padding: 10px;
  color: white;
}
.navigation .navigation-list a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px;
}
#list-1{
  border-radius: 20px;
  background-color: rgb(230, 83, 60);;
}
#list-5{
  display: none;
}

/* header section end  */

/* habit section start  */

.habit {
  width: 60%;
  /* border: 2px solid red; */
  height: auto;
  margin: 100px auto;
}
.habit-content {
  text-align: center;
  width: 52%;
  margin: 0px auto 58px auto;
  /* border: 2px solid white; */
}
.habit-title {
  /* text-align: center; */
  margin-bottom: 14px;
}
.habit-image {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.habit-img-content {
  text-align: center;
}
img.habit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

/* habit section end  */

/* our team  */
.our-team {
  width: 60%;
  /* border: 1px solid black; */
  margin: 50px auto;
}
.team-title {
  width: 52%;
  height: auto;
  text-align: center;
  margin: 0px auto 3.5rem auto;
}
h2.team-title-heading {
  font-weight: 900;
}
p.team-title-paragraph {
  margin-top: 14px;
}
.team-image {
  width: 100%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
}

img.our-team-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: 10% 100%;
}
#img-4 {
  object-fit: cover;
  object-position: 65% 100%;
}

/* bmi */

.bmi {
  width: 32%;
  /* border: 2px solid red; */
  margin: 0px auto 88px auto;
}
.bmi-title {
  margin-bottom: 14px;
}
.bmi-paragraph {
}

/* bmi end */

/* bmi calculator start*/
.bmi-calculator {
  width: 100%;
  /* border: 2px solid red; */
  margin: 0px 0px 88px 0px;
}
.calculate-parent {
  width: 60%;
  /* border: 2px solid white; */
  padding: 52px 0px;
  margin: 0px auto;
  justify-content: space-between;
  display: flex;
  gap: 10px;
}
.chart {
  /* border: 1px solid red; */
  width: 35%;
}
.chart-title,
.calculate-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 52px;
}
table {
  width: 80%;
  height: 200px;
}
table,
th,
tr,
td {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}
.calculate {
  /* border: 1px solid blue; */
  width: 60%;
}
form {
  margin: 34px 0px;
}
input[type="number"] {
  /* height: 48px; */
  width: calc(50% - 8px);
  padding: 20px;
  border-radius: 8px;
  background-color: rgb(57, 57, 57);
  color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  /* display: block; */
}
#height {
  margin: 0px 5px 5px 0px;
}
#weight {
  margin: 0px 0px 5px 5px;
}
#age {
  margin: 5px 5px 5px 0px;
}
#Sex {
  width: calc(50% - 7px);
  margin: 5px 0px 5px 5px;
  border-radius: 8px;
  padding: 20px;
  background-color: rgb(57, 57, 57);
  color: rgba(255, 255, 255, 0.5);
  outline: none;
  border: none;
}
#factor {
  width: 100%;
  padding: 20px;
  margin: 10px 0px 0px 0px;
  border-radius: 8px;
  background-color: rgb(57, 57, 57);
  color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
}
/* our team  */

/* footer  */
.footer {
  width: 100%;
  height: auto;
  margin-top: 5.5rem;
  /* border: 2px solid red; */
}
.footer-content {
  width: 60%;
  margin: 0px auto;
  /* border: 3px solid red; */
  display: flex;
  justify-content: space-between;
  padding: 66px 0px;
  border-bottom: 4px solid rgba(255, 255, 255, 0.5);
}
.footer-content-left {
  width: 40%;
  /* border: 3px solid red; */

}
.footer-left-title {
  font-size: 4.37rem;
  font-weight: 800;
  margin-bottom: 1.25rem;
}
.footer-content-right {
  width: calc(100% - 50%);
  display: flex;
  justify-content: space-between;
}
.footer-content-child-1 {
  width: 42%;
}
.footer-child-1-title,
.footer-child-2-title {
  margin-bottom: 2.43rem;
  font-weight: 700;
}
.footer-content-child-2 {
  width: 42%;
}
.footer-unordered li {
  list-style-type: none;
  margin-bottom: 1.25rem;
}
.footer-unordered li:last-child {
  margin-bottom: 0;
}

.footer-unordered li a {
  text-decoration: none;
  font-size: 1.43rem;
}
.copy-text {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 20px 0px;
}

/* footer  */
/* mile  */
.mile {
  width: 60%;
  height: auto;
  margin: 100px auto 88px auto;
  border-radius: 20px;
  /* height: 371px; */
}
.mile-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mile-child-1 {
  width: 32%;
  margin: 41px 0px 40px 54px;
}
.mile-title {
  font-weight: 900;
  margin-bottom: 14px;
}
.mile-paragraph {
  margin-bottom: 34px;
}
.mile-child-2 {
  width: 36%;
  height: 37vh;
  margin: 30px 32px 29px 0px;
}
img.running-img {
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: 67% 33%;
  border-radius: 20px;
}



@media screen and (max-width: 576px) {
  /* header and banner start */
  .banner{
    flex-direction: column;
    gap: 20px;
  }
  .banner-image{
    width: 100%;
  }
  .banner-content{
    width: 100%;
  }
  #list-5{
    display: block;
  }
  .navigation #list-1,#list-2,#list-3,#list-4{
    display: none;
  }
  .nav-bar{
    width: 90%;
  }
  .banner{
    width: 90%;
  }
  .banner-title{
    font-size: 36px;
    width: 70%;
  }
  .join{
    margin-left: 7px;
  }
  .banner-btn-2 {
    height: 74px;
    width: 160px;
    top: 0px;
    bottom: 0px;
    left: 20px;
  }
  .banner-btn-3 {

    height: 74px;
    width: 140px;
    top: 0px;
    bottom: 400px;
    right: 10px;
  }

  /* header and banner end */

  /* habbit section start */
  .habit{
    width: 90%;
    margin: 58px auto;
  }
   .habit-image {
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .habit-content {
    width: 100%;
  }
  .habit-box{
    width: 80%;
    margin: 0px auto;
  }
  /* habit section end  */
  .team-image {
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  #img-box-1,
  #img-box-4 {
    display: none;
  }
  .team-title {
    width: 100%;
  }
  .font-primary {
    font-size: 2rem;
  }
  .team-title {
    margin: 0px auto 2rem auto;
  }
  .image-box {
    max-height: 256px;
  }
  .footer-content,
  .footer-content-right {
    flex-direction: column;
    height: auto;
    width: 90%;
  }
  .footer-content-left {
    width: 80%;
    height: auto;
    margin-bottom: 30px;
  }
  .footer-content-right {
    width: 60%;
    height: auto;
  }
  .footer-content-child-1 {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .footer-content-child-2 {
    width: 100%;
    height: auto;
  }

  /* footer end  */

  /* mile start  */
  .mile-parent {
    flex-direction: column;
    height: auto;
    width: 90%;
  }
  .mile-child-1 {
    margin: 0px;
    width: 100%;
    padding: 10px;
  }
  .mile-child-2 {
    margin: 0px;
    width: 100%;
    padding: 10px;
    height: auto;
  }
  img.running-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 67% 33%;
    border-radius: 20px;
  }
  /* mile end  */

  /* bmi  section start */
  .bmi {
    width: 90%;
  }
  .bmi-title{
    font-size: 32px;
  }
  /* bmi  section end */

  /* bmi  calculator start */
  .bmi-calculator {
    width: 100%;
    margin: 0px auto;
  }
  .calculate-parent {
    flex-direction: column;
    width: 90%;
    gap: 42px;
  }
  .calculate {
    width: 100%;
  }
  .chart {
    width: 100%;
  }
}
