/* our team  */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.primary-bg-color{
  background-color: black;
}
.bg-color{
  background-color: black;
}
.secondary-bg-color{
  background-color:#1A1A1A;
}
.font-primary{
  font-size: 3rem;
}
.font-secondary{
  font-size: 2rem;
}
.font-tertiary{
  font-size: 0.875rem;
}
.font-primary-color{
  color: white;
}
.font-secondary-color{
  color: rgba(255,255,255,0.5);
}
.font-tertiary-color{
  color: rgb(230, 83, 60);
}
.our-team {
  width: 60%;
  border: 1px solid black;
  margin: 0px auto;
}
.team-title {
  width: 52%;
  height: auto;
  text-align: center;
  margin: 0px auto 3.5rem auto;
}
h2.team-title-heading{
  font-weight: 900;
}
p.team-title-paragraph{
  margin-top: 14px;
}
.team-image {
  width: 100%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  border-radius:20px;
}

img.our-team-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: 10% 100%;
}
#img-4{
    object-fit: cover;
  object-position: 65% 100%;
}

/* our team  */

/* footer  */
.footer{
  width: 100%;
  height: auto;
  margin-top: 5.5rem;
}
.footer-content{
  width: 60%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  padding: 66px 0px;
  border-bottom: 4px solid rgba(255,255,255,0.5);
}
.footer-content-left{
  width: 40%;
}
.footer-left-title{
  font-size: 4.37rem;
  font-weight: 800;
  margin-bottom: 1.25rem;
}
.footer-content-right{
  width: calc(100% - 50%);
  display: flex;
  justify-content: space-between;
}
.footer-content-child-1{
  width: 42%;
}
.footer-child-1-title,.footer-child-2-title{
  margin-bottom: 2.43rem;
  font-weight: 700;
}
.footer-content-child-2{
  width: 42%;
}
ul li{
  list-style-type: none;
  margin-bottom: 1.25rem;
}
ul li:last-child {
  margin-bottom: 0;
}

ul li a{
  text-decoration: none;
  font-size: 1.43rem;
}
.copy-text{
  color: rgba(255,255,255,0.5);
  text-align: center;
  padding: 20px 0px;
}

/* footer  */
/* mile  */
.mile{
  width: 60%;
  height: auto;
  margin: 100px auto;
  border-radius: 20px;
  /* height: 371px; */
}
.mile-parent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mile-child-1{
  width: 32%;
  margin: 41px 0px 40px 54px;
}
.mile-title{
  font-weight: 900;
  margin-bottom: 14px;
}
.mile-paragraph{
  margin-bottom: 34px;
}
.mile-child-2{
  width: 36%;
  height: 37vh;
  margin: 30px 32px 29px 0px;
}
img.running-img{
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: 67% 33%;
  border-radius: 20px;
}


@media screen and (max-width:576px) {

  .team-image {
    height: auto;
    grid-template-columns:repeat(1,1fr);
    width: 100%;
  }
  #img-box-1,#img-box-4{
    display: none;
  }
  .team-title{
    width: 100%;
  }
  .font-primary{
    font-size: 2rem;
  }
  .team-title{
    margin: 0px auto 2rem auto;
  }
  .image-box{
    max-height: 256px;
  }
  .footer-content,.footer-content-right,.mile-parent{
    flex-direction: column;
    height: auto;
  }
  .footer-content-left{
    width: 80%;
    height: auto;
    margin-bottom: 30px;
  }
  .footer-content-right{
    width: 60%;
    height: auto;
  }
  .footer-content-child-1{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .footer-content-child-2{
    width: 100%;
    height: auto;
  }
  .mile-child-1{
    margin: 0px;
    width: 100%;
    padding: 10px;
  }
  .mile-child-2{
    margin: 0px;
    width: 100%;
    padding: 10px;
    height: auto;
  }
  img.running-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 67% 33%;
    border-radius: 20px;
  }
}
